<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunxian.immersemode.sample">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CUNTheme.NoActionBar"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:theme="@style/CUNTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NormalActivity"
            android:theme="@style/CUNTheme.NoActionBar" />
        <activity
            android:name=".TranslucentActivity"
            android:theme="@style/CUNTheme.NoActionBar" />
        <activity
            android:name=".TranslucentFullActivity"
            android:theme="@style/CUNTheme.NoActionBar" />
        <activity
            android:name=".TransparentActivity"
            android:theme="@style/CUNTheme.NoActionBar" />
        <activity
            android:name=".TransparentFullActivity"
            android:theme="@style/CUNTheme.NoActionBar" />
        <activity
            android:name=".FullInputActivity"
            android:theme="@style/CUNTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>

</manifest>